.imgDiv {
  height: 500px;
  width: 500px;
  object-fit: cover;

  overflow: hidden;
  position: relative;
}

#imgRoll {
  display: flex;
  flex-direction: row;
  background-color: red;
}

.img {
  height: 500px;
  width: 500px;
}

.fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 5%;
  cursor: pointer;
}
.fa-chevron-right {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 5%;
}

.ul {
  position: absolute;
  top: 85%;
  left: 40%;
}

.liWrapper {
  display: flex;
  flex-direction: row;
  color: white;
}

.li {
  margin: 5px;
  cursor: pointer;
}
